#screan{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}
div{
    display: flex;
    flex-flow: column wrap;
}
#get-time-value{
    border-radius: 12px;
    padding: 10px;
}
#sumbit-button{
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1em;
    padding: 10px;
    display: inline;
}

.note{
    text-decoration: none;
}