body{
    background:rgb(9, 0, 0);
}
#screan{
    background: rgba(27, 140, 245, 0.432);
    color:white;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 200px;
    width: 100%;
    font-size: 2rem;
}